<!-- overlay navigation bar that stays to the top of the screen  with all the different menu options-->
<header>
    <nav class="navigation-bar">
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/?season=1">Season 1</a></li>
                <li><a href="/?season=2">Season 2</a></li>
                <li><a href="/?season=3">Season 3</a></li>
                <li><a href="/?season=4">Season 4</a></li>
                <li><a href="/?season=5">Season 5</a></li>
                <li><a href="/?season=6">Season 6</a></li>
                <li><a href="/?season=7">Season 7</a></li>
                <li><a href="/?season=8">Season 8</a></li>
                <li><a href="/?season=9">Season 9</a></li>
                <li><a href="/?season=10">Season 10</a></li>
                
            </ul>
        </div>
    </nav>
</header>